name: Run unit tests

on:
  # this workflow is only called by others, won't be executed on itself
  workflow_call:

permissions:
  contents: read

jobs:
  tests:
    name: Run auth backend tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          java-package: jdk
          architecture: x64
          distribution: temurin
          cache: maven

      - name: Run tests
        run: mvn clean verify -Pall-tests
